<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>知了课堂</title>
    <link rel="stylesheet" href="../../dist/css/index.min.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_681895_w5poic4qj6vfgvi.css">
    <script src="../../dist/js/jquery-3.3.1.min.js"></script>
    <script src="../../dist/js/index.min.js"></script>
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="logo-box">
                <a href="/"></a>
            </div>
            <div class="nav">
                <ul>
                    <li><a href="/">创业资讯</a></li>
                    <li><a href="/">创业课堂</a></li>
                    <li><a href="/">付费资讯</a></li>
                    <li><a href="/">搜索</a></li>
                </ul>
            </div>
            <div class="auth-box">
                <i class="icon-person iconfont"></i>
                <a href="#">登录</a>
                <a href="#">注册</a>
            </div>
        </div>
    </header>

    <div class="main">
        <div class="wrapper">
           <div class="news-wrapper">
               <div class="banner-group" id="banner-group">
                   <div class="banner-ul" id="banner-ul">
                       <li>
                           <a href="#">
                               <img src="https://static-image.xfz.cn/1585799101_895.jpg" alt="">
                           </a>
                       </li>
                       <li>
                           <a href="#">
                               <img src="https://static-image.xfz.cn/1585728685_608.png" alt="">
                           </a>
                       </li>
                       <li>
                           <a href="#">
                               <img src="https://static-image.xfz.cn/1585624042_417.png" alt="">
                           </a>
                       </li>
                   </div>
                   <span class="left-arrow"><</span>
                   <span class="right-arrow">></span>
               </div>
           </div>
            <div class="sidebar"></div>
        </div>
    </div>
</body>
</html>